<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about-hospital.css" type="text/css" />
    <link href="/css/reset.css" type="text/css" rel="stylesheet" />
    <link href="/css/theme.css" type="text/css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/4fd1383274.js"
      crossorigin="anonymous"
    ></script>
    <title>ABOUT HOSPITAL</title>
  </head>
  <body>
    <%- include ('./header.ejs') %>
    <div class="hero-background">
      <div class="subject">
        <h2>About Fortis Hospital</h2>
        <p>Home/Hospital-profile</p>
      </div>
    </div>
    <section class="main">
      <div class="wrapper">
        <div class="hospital-profile">
          <div class="hospital-image">
            <img src="/img/apollo.jpg" alt="Doctors-photo" />
          </div>
          <div class="call-now">
            <button class="primary-use" id="booking">
              <a href="appointment.ejs"><a href="appointment.ejs">Book an appointment</a></a>
            </button>
          </div>
        </div>
        <div class="about-hospital">
          <h2>Fortis Hospital</h2>
          <ul class="fa-ul">
            <li>
              <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span
              >Delhi Mathura Road, Sarita Vihar, Delhi 110076
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-bed"></i></span>100 Beds
            </li>
          </ul>
          <p>
            Fortis hospitals has emerged as Asia's foremost integrated
            healthcare services provider and ahs a robust presence across the
            healthcare ecosystem. including Hospitals, Pharmacies Primary Care &
            Diagnostics Clinics and several retail health models. The Group also
            has Telemedice Facilities across several countries,Health Insurance
            Services,Global Projects Consultancy Mediacal Colleges,medvarsity
            for E-learning,Colleges of Nursing and Hospital Mana gement, and a
            Research foundation in addition, 'Fortis Fk ' - an online
            consultation portal and Fortis Home Health provide the care
            continumm.
          </p>
        </div>
        <div class="profile-desc">
          <ul>
            <li>
              <div class="desc-heading">
                <i class="fas fa-award heading-icon"></i>
                <h4>Specialization</h4>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="desc hide">
                <div class="desc-paragraph">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eaque, quisquam corporis d oloribus sequi fugit mollitia
                    vel! Fugit accusantium dolore autem, doloremque atque
                    tempora nobis voluptas facere id quidem qui laboriosam!
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="desc-heading">
                <i class="fas fa-user-md  heading-icon"></i>
                <h4>Famous Doctors</h4>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="h">
                <div class="desc-paragraph">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eaque, quisquam corporis d oloribus sequi fugit mollitia
                    vel! Fugit accusantium dolore autem, doloremque atque
                    tempora nobis voluptas facere id quidem qui laboriosam!
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="desc-heading">
                <i class="fas fa-stethoscope heading-icon"></i>
                <h4>Famous Treatments</h4>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="desc hide">
                <div class="desc-paragraph">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eaque, quisquam corporis d oloribus sequi fugit mollitia
                    vel! Fugit accusantium dolore autem, doloremque atque
                    tempora nobis voluptas facere id quidem qui laboriosam!
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="desc-heading">
                <i class="fas fa-hospital heading-icon"></i>
                <h4>Infrastructure</h4>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="desc hide">
                <div class="desc-paragraph">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eaque, quisquam corporis d oloribus sequi fugit mollitia
                    vel! Fugit accusantium dolore autem, doloremque atque
                    tempora nobis voluptas facere id quidem qui laboriosam!
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="desc-heading">
                <i class="fas fa-map-marker-alt heading-icon"></i>
                <h4>Complete Address</h4>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="desc hide">
                <div class="desc-paragraph">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Atque accusamus harum hic repellendus incidunt dignissimos
                    accusantium reprehenderit vero veniam dolore ea deserunt
                    mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="desc-heading">
                <i class="fas fa-h-square heading-icon"></i>
                <h4>Hospital Packages</h4>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="desc hide">
                <div class="desc-paragraph">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Atque accusamus harum hic repellendus incidunt dignissimos
                    accusantium reprehenderit vero veniam dolore ea deserunt
                    mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="desc-heading">
                <i class="fas fa-rupee-sign heading-icon"></i>
                <h4>Hospital Charges</h4>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="desc hide">
                <div class="desc-paragraph">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Atque accusamus harum hic repellendus incidunt dignissimos
                    accusantium reprehenderit vero veniam dolore ea deserunt
                    mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="desc-heading">
                <i class="fas fa-id-card heading-icon"></i>
                <h4>Membership</h4>
                <i class="fas fa-angle-down angle-icon accordion-btn"></i>
              </div>
              <div class="desc hide">
                <div class="desc-paragraph">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Atque accusamus harum hic repellendus incidunt dignissimos
                    accusantium reprehenderit vero veniam dolore ea deserunt
                    mollitia quidem, voluptatum saepe ipsam iure est blanditiis?
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <%- include ('./footer.ejs') %>
  </body>
</html>
