<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/faq.css" type="text/css" />
    <link href="/css/reset.css" type="text/css" rel="stylesheet" />
    <link href="/css/theme.css" type="text/css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/4fd1383274.js"
      crossorigin="anonymous"
    ></script>
    <title>FAQ</title>
  </head>
  <body>
    <%- include ('./header.ejs') %>
    <div class="hero-background">
      <div class="subject">
        <h2>FAQ</h2>
        <p>Home/FAQ</p>
      </div>
    </div>
    <section class="main">
      <div class="wrapper">
        <ul>
          <li>
            <div class="questions">
              <h5>How do i make Payments?</h5>
              <i class="fas fa-angle-down angle-icon accordion-btn"></i>
            </div>
            <div class="anwsers">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                quisquam corporis d oloribus sequi fugit mollitia vel! Fugit
                accusantium dolore autem, doloremque atque tempora nobis
                voluptas facere id quidem qui laboriosam!
              </p>
            </div>
          </li>
          <li>
            <div class="questions">
              <h5>
                There is not enough money in my Portea Wallet for making a
                payment. What do i do?
              </h5>
              <i class="fas fa-angle-down angle-icon accordion-btn"></i>
            </div>
            <div class="anwsers">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                quisquam corporis d oloribus sequi fugit mollitia vel! Fugit
                accusantium dolore autem, doloremque atque tempora nobis
                voluptas facere id quidem qui laboriosam!
              </p>
            </div>
          </li>
          <li>
            <div class="questions">
              <h5>
                Can i transfer balance in Portea Wallet balance to another user?
              </h5>
              <i class="fas fa-angle-down angle-icon accordion-btn"></i>
            </div>
            <div class="anwsers">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                quisquam corporis d oloribus sequi fugit mollitia vel! Fugit
                accusantium dolore autem, doloremque atque tempora nobis
                voluptas facere id quidem qui laboriosam!
              </p>
            </div>
          </li>
          <li>
            <div class="questions">
              <h5>Is Portea Money the same as Portea Wallet</h5>
              <i class="fas fa-angle-down angle-icon accordion-btn"></i>
            </div>
            <div class="anwsers">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                quisquam corporis d oloribus sequi fugit mollitia vel! Fugit
                accusantium dolore autem, doloremque atque tempora nobis
                voluptas facere id quidem qui laboriosam!
              </p>
            </div>
          </li>
          <li>
            <div class="questions">
              <h5>Refund</h5>
              <i class="fas fa-angle-down angle-icon accordion-btn"></i>
            </div>
            <div class="anwsers">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                quisquam corporis d oloribus sequi fugit mollitia vel! Fugit
                accusantium dolore autem, doloremque atque tempora nobis
                voluptas facere id quidem qui laboriosam!
              </p>
            </div>
          </li>
          <li>
            <div class="questions">
              <h5>What is a Family ID?</h5>
              <i class="fas fa-angle-down angle-icon accordion-btn"></i>
            </div>
            <div class="anwsers">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                quisquam corporis d oloribus sequi fugit mollitia vel! Fugit
                accusantium dolore autem, doloremque atque tempora nobis
                voluptas facere id quidem qui laboriosam!
              </p>
            </div>
          </li>
          <li>
            <div class="questions">
              <h5>Who can be added as family?</h5>
              <i class="fas fa-angle-down angle-icon accordion-btn"></i>
            </div>
            <div class="anwsers" id="last-anwser">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
                quisquam corporis d oloribus sequi fugit mollitia vel! Fugit
                accusantium dolore autem, doloremque atque tempora nobis
                voluptas facere id quidem qui laboriosam!
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <%- include ('./footer.ejs') %>
    <script src="/js/accordian.js"></script>
  </body>
</html>
