<section class="help">
    <div class="help-wrapper">
      <div class="text-help">
        <h2>Need Help?</h2>
        <p>Just let us know, we will be happy to assist you</p>
      </div>
      <div class="enquiry">
        <button class="primary-light">
          <a href="query.ejs">Submit your enquiry</a>
        </button>
      </div>
    </div>
  </section>
<footer>     
    <section class="ft-main">
    <div class="first-footer">
                <figure class="ft-logo">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Tvastra Logo">
                </figure>
            
                <div class="foot-list">
                    <ul class="foot-li">
                        <li><a href="doctor.ejs">Doctor</a></li>
                        <li><a href="hospital.ejs">Hospital</a></li>
                        <li><a href="treatment.ejs">Treatment</a></li>
                        <li><a href="healthy.ejs">Other Services</a></li>
                        <li><a href="faq.ejs">FAQ's</a></li>
                    </ul>
                </div>
            </div>
        <div class="footer1">
            <div class="parent-social">
                <ul class="social-parent">
                    <div id="facebook">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div id="pinterest">
                        <i class="fab fa-pinterest-p"></i>
                    </div>
                    <div id="twitter">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div id="google">
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                    <div id="instagram">
                        <i class="fab fa-instagram"></i>
                    </div>
                    </div>
                    <p>All rights reserved. &copy 2020</p>
            </div>
        </div>
        </div>
    </section>

</footer>
