<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tvastra-plus.css" type="text/css">
    <link href="/css/reset.css" type="text/css" rel="stylesheet">
    <link href="/css/theme.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4fd1383274.js" crossorigin="anonymous"></script>
    <title>TVASTRA PLUS</title>
</head>
<body>
    <%- include ('./header.ejs') %>
        <div class="hero-plus">
            <div class="hero-background">
                <div class="hero-btn">
                    <button class="primary-light">PLUS</button>
                </div>
                <div class="plans-heading"><h2>Healthcare plans for you and your family.</h2></div>
                <div class="offers-heading"><p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses</p></div>
            </div>
            <div class="hero-gradient"></div>
            <section class="plans">
                <div class="plan-grid">
                    <div class="description-bold">
                        <h4>Select a Tvastra Plus healthcare plan</h4>
                    </div>
                    <div class="description-light">
                        <p>All Plus plans are for 4 adults and 2 children</p>
                    </div>
                    <hr>
                    <div class="plan-grid-wrapper">
                        <div class="plan" id="basic-plan">
                            <h6>Basic Plan</h6>
                            <hr>
                        <ul>
                            <li>Unlimited Consultation with any speciality</li>
                            <li>20% Off on prescription medicines</li>
                            <li>20% Off on tests & checkups
                            </li>
                        </ul>
                        <div class="price">&#x20B9 2,999<span id="year">/year</span></div>
                        <div class="plan-btn">
                            <p>View Plan Details</p>
                            <button class="primary-light" id="buy-btn">Buy Plan</button>
                        </div>
                                        </div>
                         <div class="plan" id="advanced-plan">
                        <div id="popular-tag">Popular</div>
                        <h6>Advanced Plan</h6>
                        <hr>
                        <ul>
                            <li>Unlimited Consultation with any speciality</li>
                            <li>20% Off on prescription medicines</li>
                            <li>20% Off on tests & checkups</li>
                            <li>10 Free In-Clinic consultations</li>
                        </ul>
                        <div class="price">&#x20B9 3,999<span id="year">/year</span></div>
                        <div class="plan-btn">
                            <p>View Plan Details</p>
                            <button class="primary-light" id="buy-btn">Buy Plan</button>
                        </div>
                         </div>
                        <div class="plan" id="comprehensive-plan">
                        <h6>Comprehensive Plan</h6>
                        <hr>
                        <ul>
                            <li>Unlimited Consultation with any speciality</li>
                            <li>20% Off on prescription medicines</li>
                            <li>20% Off on tests & checkups</li>
                            <li>10 Free In-Clinic consultations</li>
                            <li>2 Master health checkups</li>
                        </ul>
                        <div class="price">&#x20B9 5,999<span id="year">/year</span></div>
                        <div class="plan-btn">
                            <p>View Plan Details</p>
                            <button class="primary-light" id="buy-btn">Buy Plan</button>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
        <section class="section-rating">
            <div class="grid-ratings">
                    <div class="description-bold">
                        <h4>Trusted by 2 Crore+ users every month</h4>
                    </div>
                    <div class="description-light">
                        <p>Tvastra is the leading healthcare technology company in India.
                        We began in 2009 and today we help 2 crore customers every month.</p>
                    </div>
                    <div class="rating-grid">
                        <div class="rating">
                            <div class="rating-value">4.5</div>
                            <div class="rating-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="number_of_reviews">1000+ Reviews</div>
                        </div>
                        <div class="rating-bars">
                            <div class="rating-bar-grid">
                                <div class="rating-number">
                                    5
                                </div>
                                <div class="rating-bar-grey">
                                    <div class="rating-bar-5"></div>
                                </div>
                            </div>
                            <div class="rating-bar-grid">
                                <div class="rating-number">
                                    4
                                </div>
                                <div class="rating-bar-grey">
                                    <div class="rating-bar-4"></div>
                                </div>
                            </div>
                            <div class="rating-bar-grid">
                                <div class="rating-number">
                                    3
                                </div>
                                <div class="rating-bar-grey">
                                    <div class="rating-bar-3"></div>
                                </div>
                            </div>
                            <div class="rating-bar-grid">
                                <div class="rating-number">
                                    2
                                </div>
                                <div class="rating-bar-grey">
                                    <div class="rating-bar-2"></div>
                                </div>
                            </div>
                            <div class="rating-bar-grid">
                                <div class="rating-number">
                                    1
                                </div> 
                                <div class="rating-bar-grey">
                                    <div class="rating-bar-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="milestone-grid">
                        <div class="milestone">
                            <i class="fas fa-users fa-2x"></i>
                            <div class="number">2 Crore+</div>
                            <div class="milestone-tag">Monthly Customers</div>
                        </div>
                        <div class="milestone">
                            <i class="fas fa-user-md fa-2x"></i>
                            <div class="number">100,000+</div>
                            <div class="milestone-tag">Verified Doctors</div>
                        </div>
                        <div class="milestone">
                            <i class="fas fa-pills fa-2x"></i>
                            <div class="number">10 Lakh+</div>
                            <div class="milestone-tag">Medicine Orders Delivered</div>
                        </div>
                        <div class="milestone">
                            <i class="fas fa-procedures fa-2x"></i>
                            <div class="number">5 Crore+</div>
                            <div class="milestone-tag">Doctor Appointments</div>
                        </div>
                    </div>
            </div>
        </section>
        <section>
            <div class="benefits">
                <p>Benefits of Plus Membership</p>
                <hr>
                <div class="benefits-grid">
                    <div class="benefit101-wrapper">
                        <div class="benefit-1">
                            <div class="description-bold">
                                <h4>Zero fees for in-clinic consultation</h4>
                            </div>
                            <div class="description-lite">
                                <ul class="benefits-about">
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                                Consult with 3000+ specialist doctors at top clinics & hospitals in the PLUS
                                                network ar Rs. 0 consultation fees*
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Upto 10 in-clinic consultations can be used by any family member
                                            over 12 month period.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="benefit-1_1">
                            <h5>Top Hospitals Onboarded</h5>
                                <div class="onboarded-hospitals">
                                    <div class="hospital">
                                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt="">
                                    </div>
                                    <div class="hospital">
                                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt="">
                                    </div>
                                    <div class="hospital">
                                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt="">
                                    </div>
                                    <div class="hospital">
                                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt="">
                                    </div>
                                    <div class="hospital">
                                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt="">
                                    </div>
                                    <div class="hospital">
                                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt="">
                                    </div>
                                </div>
                                <a href="">+More Hospitals</a>
                        </div>
                    </div>
                    <div class="benefit-grid-container">
                        <div class="benefit-even">
                            <div class="description-bold">
                                <h4>Unlimited online consultations with top doctors</h4>
                            </div>
                            <div class="description-lite">
                                <ul class="benefits-about">
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Get all your health queries answered from any specialistonline, any time of the day.
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Connect under 2 minutes on text, call or video - available 24 hrs.
                                            7 days of the week.
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            All online consultations are confidential. Only patient and doctor can access the chats.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="benefit-image img2">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
                        </div>
                    </div>
                    <div class="benefit-grid-container">
                        <div class="benefit-3">
                            <div class="description-bold">
                                <h4>Flat 20% Off on prescription medicine, lab tests & checkups</h4>
                            </div>
                            <div class="description-lite">
                                <ul class="benefits-about">
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Save money on your medicines and lab tests for your entire family.
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Get flat 20% off on medicines that require prescriptions & flat 20%
                                            off on health checkups and lab tests.
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            No questons asked. No minimum order values, no limits, available in 100+ cities across India.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="benefit-image img3">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
                        </div>
                    </div>
                    <div class="benefit-grid-container">
                        <div class="benefit-even">
                            <div class="description-bold">
                                <h4>2 Free health checkups</h4>
                            </div>
                            <div class="description-lite">
                                <ul class="benefits-about">
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Discuss your test results with doctors through online consultations.
                                            Receive E-Report within 48 hrs.
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Home sample pickup
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Tabs are NABL, CAP Accredited
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            Checkups can be booked anytime, even weekends, Tax deductible under 80D.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="benefit-image img4">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="note">
                60 Tests Included
        </div>
        <div class="tests-wrapper">
            <div class="tests">
                <div class="test">
                    <div class="test-image">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="">
                    </div>
                    <div class="test-name">Vitamin Profile</div>
                    <div class="test-count">2 Tests</div>
                </div>
                <div class="test">
                    <div class="test-image">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg" alt="">
                    </div>
                    <div class="test-name">Iron Deficiency Profile</div>
                    <div class="test-count">3 Tests</div>
                </div>
                <div class="test">
                    <div class="test-image">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt="">
                    </div>
                    <div class="test-name">Thyroid Profile</div>
                    <div class="test-count">3 Tests</div>
                </div>
                <div class="test">
                    <div class="test-image">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt="">
                    </div>
                    <div class="test-name">Liver Profile</div>
                    <div class="test-count">11 Tests</div>
                </div>
            </div>
            <div class="carousel-circle">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
              </div>
        </div>
    </section>
        <section>
            <div class="feedback">
                <div class="description-bold">
                    <h4>Why we love Tvastra  <span class="tag">PLUS</span></h4>
                </div>
                <div class="testemonials">
                    <div class="testimonial">
                        <div class="quote" >
                            "Wonderful experience with Tvastra Plus it helped me in saving a lot of amount
                            as it provides free consultations with best doctors."
                        </div>
                        <div class="user" id="user-first">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                            <div class="name">Rishabh Dahiya</div>
                            <div class="plan-tag">Advanced Plan User</div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="quote">
                            "Fantastic experience with health test using Tvastra Plus. Didn't pay anything for test.
                            I came to know my deficiency in vitamin where family doctor featre helped me with medicine."
                        </div>
                        <div class="user">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                            <div class="name">Sahil Kathuria</div>
                            <div class="plan-tag">Comprehensive Plan User</div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="quote">
                            "24x7 access to doctors in just 60 seconds with 2 kids, one of them is bound to fall sick.
                            Comes in super handy"
                        </div>
                        <div class="user" id="user-third">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="">
                            <div class="name">Shubham Garg</div>
                            <div class="plan-tag">Comprehensive Plan User</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="faq">
            <div class="wrapper">
                <div class="description-bold"><h4>Frequently Asked Question</h4></div>
                <ul>
                    <li><div class="questions"><h6>How do i make Payments?</h6>  <i class="fas fa-angle-down angle-icon accordion-btn"></i></div><div class="anwsers"> <p>
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis d
                                         oloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                                     </p></div></li>
                    <li><div class="questions"><h6>There is not enough money in my Portea Wallet for making a payment. What do i do?</h6>  <i class="fas fa-angle-down angle-icon accordion-btn"></i></div><div class="anwsers"> <p>
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis d
                                         oloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                                     </p></div></li>
                    <li><div class="questions"><h6>Can i transfer balance in Portea Wallet balance to another user?</h6>  <i class="fas fa-angle-down angle-icon accordion-btn"></i></div><div class="anwsers"> <p>
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis d
                                         oloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                                     </p></div></li>
                    <li><div class="questions"><h6>Is Portea Money the same as Portea Wallet</h6>  <i class="fas fa-angle-down angle-icon accordion-btn"></i></div><div class="anwsers"><p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis d
                     oloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                 </p></div></li>
                    <li><div class="questions"><h6>Refund</h6>  <i class="fas fa-angle-down angle-icon accordion-btn"></i></div><div class="anwsers"> <p>
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis d
                                         oloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                                     </p></div></li>
                    <li><div class="questions"><h6>What is a Family ID?</h6>  <i class="fas fa-angle-down angle-icon accordion-btn"></i></div><div class="anwsers"> <p>
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis d
                                         oloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                                     </p></div></li>
                    <li><div class="questions"><h6>Who can be added as family?</h6>  <i class="fas fa-angle-down angle-icon accordion-btn"></i></div><div class="anwsers" id="last-anwser"> <p>
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quisquam corporis d
                                         oloribus sequi fugit mollitia vel! Fugit accusantium dolore autem, doloremque atque tempora nobis voluptas facere id quidem qui laboriosam!
                                     </p></div></li>
                </ul>
            </div>
            <script src="/js/accordian.js"></script>
        </section>
        </section>
        <footer>     
            <section class="ft-main">
            <div class="first-footer">
                        <figure class="ft-logo">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Tvastra Logo">
                        </figure>
                    
                        <div class="foot-list">
                            <ul class="foot-li">
                                <li><a href="doctor.ejs">Doctor</a></li>
                                <li><a href="hospital.ejs">Hospital</a></li>
                                <li><a href="treatment.ejs">Treatment</a></li>
                                <li><a href="healthy.ejs">Other Services</a></li>
                                <li><a href="faq.ejs">FAQ's</a></li>
                            </ul>
                        </div>
                    </div>
                <div class="footer1">
                    <div class="parent-social">
                        <ul class="social-parent">
                            <div id="facebook">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <div id="pinterest">
                                <i class="fab fa-pinterest-p"></i>
                            </div>
                            <div id="twitter">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div id="google">
                                <i class="fab fa-google-plus-g"></i>
                            </div>
                            <div id="instagram">
                                <i class="fab fa-instagram"></i>
                            </div>
                            </div>
                            <p>All rights reserved. &copy 2020</p>
                    </div>
                </div>
                </div>
            </section>
        
        </footer>
    </body>
</html>