
/*----------------------------Hero------------------------------*/
.hero-background{
    display: flex;
    background:url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
    background-size:cover; 
    padding: 5rem 1rem;
    background-position: center;
    justify-content: center;
    text-align: center;
}
.subject p{
    color: var(--white);
    padding-top: 1rem;
    font-size: 1.1rem;
}
/*---------------------------Main----------------------------------*/
.wrapper{
    border: 0.1rem solid var(--border-grey);
}
.doctor-profile{
    padding: 1rem;
    margin-bottom: 2rem;
}
#booking{
    margin-top: 0.5rem;
    padding: 0.5rem 2.9rem;
    white-space: nowrap;
}

.about-doc h2{
    color: var(--blue);
    text-align: left;
    margin-bottom: 1rem;
}
.about-doc h2::before{
    display: inline-block;
    content: "";
    border-bottom: 0.15rem solid var(--blue);
    width: 2.5rem;
    vertical-align: middle;   
    margin-right: 0.5rem;
}
.desc-heading{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    color:var(--blue);
    align-items: center;
    transition: 0.4s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#specialisation{
    border-top: 1px dashed lightgray;
}
.desc-heading h4{
    margin-bottom: 0rem;
    white-space: nowrap;
    text-align: left;
}
.desc {
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.desc-paragraph p{
    margin-bottom: 0rem;
}
.desc-paragraph{
    padding-left: 0.5rem;
    background-color: var(--lightest-blue);
    padding-top: 0.5rem; 
}
.profile-desc li{
    margin-bottom: 1rem;
}
/* ---------------HELP------------------*/
.help{
    background-color: var(--light-blue);
}
.secondary{
    width: 12rem;
    
}
/*--------------FOOTER------------------*/
.ft-main {
    align-items: center;
    justify-content: center;
  padding-bottom: 0;
}
.ft-main li{
    color: var(--grey);
    padding-bottom: 1rem;
}
.ft-logo {
    width: 25vw;
    width: 25vh;
}
.social-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.fab {
    padding-right: 1.27rem;
}
.footer1 p{
    color: var(--white);
    font-size: 1rem;
   word-spacing: 0.2rem;
   padding-bottom: 1rem;
}
@media only screen and (min-width:768px){

/*----------------Hero------------------*/
.hero-background{
    padding: 7rem 1rem;
}
/*---------------------Main-----------------*/
hr{
    
    border: 0.1rem dotted var(--border-grey);
    margin: 0rem 0.5rem;
    margin-left: 1.6rem;
}
.wrapper{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows:15% 10% auto;
    grid-template-areas: 
    "doc-info pic"
    "info pic"
    "info .";
}
.desc-heading{
    padding: 0.625rem;
}
.desc-paragraph{
    margin-left: 1rem;
}
.profile-desc li{
    margin-bottom: 0.5rem;
}
.about-doc{
    grid-area: doc-info;
}
.profile-desc{
   grid-area: info;
}
.doctor-profile{
  grid-area: pic;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    margin-top: 1.5rem;
    padding-top: 0rem;
}
.doctor-image{
    height: 57%;
}
#booking{
    padding: 0.5rem 1.25rem;
}
.about-doc h2{
    margin: 1.5rem 0rem 1.5rem;
}
.about-doc h2::before{
    width: 1rem;
}
.about-doc p{
    text-align: left;
    padding-left: 1.5rem;
}
  /*----------------help------------------------------------------*/
  .help{
    display: flex;
    flex-direction: column;  
}
.help button{
    justify-self: center;
    align-self: center;
}
/*---------------footer-----------------------------------------*/

 /*---------------footer-tablet-----------------------------------------*/ 
 .ft-main {
    background-color:var(--white);
    color: var(--dark-blue);
    padding-top: 0.5rem;
}
.ft-main li{
    color:var(--dark-blue);
}
.foot-li a,.footer1 p{
    color: var(--dark-blue);
}
.foot-li li{
    display: inline;
    padding-right: 0.5rem;
}
.first-footer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.footer1{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}
.fa-instagram{
    padding-right: 0.2rem;
}

}
@media only screen and (min-width:1024px){
    
    /*------------------Main-----------------------------*/
    .wrapper{
        grid-template-columns: 70% 30%;
        grid-gap: 1rem 1rem;
        grid-template-rows: 15% 10% 10% auto;
        grid-template-areas: "doc-info pic"
        "info pic"
        "info pic"
        "info .";
    }
    .about-doc h2::before{
        width: 2rem;
    }
    .about-doc p{
        margin-left: 1.2rem;
    }
   .doctor-image{
       height: 70%;
   }
   .about-doc{
       margin-top: 1.5rem;
   }
   .doctor-profile{
    width: 90%;
    padding-top: 1rem;
   }
   #booking{
    display: flex;
    width: 100%;
    padding: 1rem 0rem;
    text-align: center;
    justify-items: center;
    justify-content: center;
   }
   .profile-desc i{
       font-size: 1.5rem;
   }
   .desc-heading{
       padding: 1rem 0rem;
   }
   .desc-paragraph{
       margin-left: 1.2rem;
   }
       /*---------------Submit your query-----------------*/
   .help-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.help p{
    text-align:left;
    margin: 0;
}
 
/*---------------footer-desktop----------------------------*/
.ft-main {
    background-color:var(--white);
    color: var(--dark-blue);
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.foot-li a,.footer1 p{
    color: var(--dark-blue);
}
.foot-li li{
    display: inline;
    padding-right: 0.5rem;
}
.first-footer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.footer1 p{
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}
.footer1{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.fa-instagram{
    padding-right: 0.2rem;
}
 .ft-main{
     border-bottom: 0.5rem solid var(--blue);;
 }
 
}