/* -------- HEADER---------*/
.logo {
  width: 40%;
  height: 60%;
}
.nav-desktop {
  display: none;
}
#quote a {
  color: var(--white);
}
/*------------main-----------------*/
.otpbox {
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  height: 90vh;
  justify-content: center;
  align-content: center;
}
.credentials {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: var(--white);
  margin-right: 1rem;
  margin-left: 1rem;
}

.heading h5 {
  color: var(--blue);
  text-align: center;
  border-bottom: 0.1rem solid var(--grey);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.about-otp {
  margin-left: 1rem;
  margin-right: 1rem;
}
.about-otp p {
  margin-bottom: 0rem;
}
.userid {
  display: flex;
  justify-content: center;
}
.dash {
  border-bottom: 0.1rem solid var(--blue);
  width: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
  font-family: nexa-bold;
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
}
#btn-resend {
  color: var(--blue);
  background-color: var(--white);
  font-size: 0.75rem;
  font-family: nexa-bold;
  margin-bottom: 1rem;
}
.resend {
  display: flex;
  justify-content: center;
}

.credentials .resend p {
  color: var(--blue);
}
.lg-button {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--dark-blue);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.primary-dark h6 a {
  color: var(--white);
}
.lg-button a {
  color: var(--white);
}
.fa-arrow-right {
  align-self: center;
  color: var(--white);
}
.lg-button h6 {
  color: var(--white);
  letter-spacing: 0.2rem;
  margin-bottom: 0rem;
}
.credentials p {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-grey);
}
.credentials a {
  color: var(--blue);
}
.footer {
  background-color: var(--light-blue);
}
.footer h6 {
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.07;
  margin-bottom: 0;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  /*---------------Navigation--------------------------------*/
  .nav-bar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .logo {
    width: 10rem;
  }
  .credentials {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .about-otp {
    margin: 0rem;
  }
  .userid,
  .lg-button {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  .dash {
    width: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  /*-----------------padding-----------------*/
  .nav-bar {
    padding-left: 4rem;
    padding-right: 2rem;
  }
  /*-------------Navigation------------------*/
  .icon {
    display: none;
  }
  .logo {
    width: 10rem;
    height: 2rem;
    padding-left: 0rem;
  }
  .nav-bar {
    padding: 0rem 7rem;
  }
  .nav-desktop {
    display: flex;
    flex-direction: row;
  }
  .nav-desktop li {
    display: inline;
    padding-right: 1.5rem;
  }
  .menu {
    align-self: center;
    margin-right: 8rem;
  }
  .menu-buttons {
    display: flex;
    align-items: center;
  }
  #quote a {
    color: var(--white);
  }
  .nav-desktop a {
    color: var(--dark-blue);
  }
  .login {
    background-color: var(--white);
  }
  .lg-button a {
    color: var(--white);
  }
  .credentials {
    margin-left: 28rem;
    margin-right: 28rem;
  }
  .about-otp p {
    margin-bottom: 1rem;
  }
  .userid,
  .otp {
    margin-bottom: 1rem;
  }
  #btn-resend {
    font-size: 0.9rem;
  }
  .userid,
  .lg-button {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .resend {
    margin-bottom: 1rem;
  }
  .dash {
    width: 4rem;
  }
}
